.container-image {
    display: flex;
    flex-direction: column;
    transform: perspective(1500px) rotateY(15deg);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: transform 1s ease 0s;
    overflow: hidden;
    display:inline-block;
    text-align: center;
}

.cover {
    object-fit: cover;
    width: 60px;
    height: 60px;
}