

<form [formGroup]="formItem">
  <div class="row">
    <div class="col-lg-12 ">
      <div class="container-image align-center">
        <img class="mgn-top-20" [src]="imagePath" title="Item Picture" height="150px" width="150px" />
        <input
          type="file"
          id="img"
          style="display:none"
          accept="image/*"
          (change)="uploadImage($event)"
        />
        <label class="image" for="img"><i class="bi bi-upload"></i> Upload <span class="required">*</span></label>
      </div>
    </div>
    
  </div>

  <div class="row mgn-top-20">

    <div class="col-lg-3">
      <div class="form-group">
        <label>Item Code<span class="required">*</span></label>
        <input formControlName="itemCode" type="text" class="form-control" [readonly]="itemToEdit != null">
      </div>
    </div>

    <div class="col-lg-3">
      <div class="form-group">
        <label>Minimum Inventory<span class="required">*</span></label>
        <input formControlName="minimumInventory" type="number" class="form-control">
      </div>
    </div>

    <div class="col-lg-3">
      <div class="form-group">
        <label>Maximum Inventory<span class="required">*</span></label>
        <input formControlName="maximumInventory" type="number" class="form-control">
      </div>
    </div>

    <div class="col-lg-3">
      <div class="form-group">
        <label>Manage Item By<span class="required">*</span></label>
        <select class="form-select" formControlName="manageItemBy">
          <option *ngFor="let status of metadata.types" [value]="status.value">
            {{ status.text }}
          </option>
        </select>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="form-group">
      <label>Description<span class="required">*</span></label>
      <textarea formControlName="description" rows="3" class="form-control"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label>Customer description</label>
      <textarea formControlName="customerDescription" rows="3" class="form-control"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label>Remarks</label>
      <textarea formControlName="remarks" rows="3" class="form-control"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label>Barcode<span class="required">*</span></label>
      <input formControlName="barcode" type="text" class="form-control">
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" formControlName="active" id="active" value="">
        <label class="custom-control-label" for="active">Active<span class="required">*</span></label>
      </div>
    </div>
    
    <div class="col-md-2">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" formControlName="salesItem" id="salesItem" value="">
        <label class="custom-control-label" for="salesItem">Sales Item<span class="required">*</span></label>
      </div>
    </div>

    <div class="col-md-2">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" formControlName="stockItem" id="stockItem" value="">
        <label class="custom-control-label" for="stockItem">Stock Item<span class="required">*</span></label>
      </div>
    </div>

    <div class="col-md-2">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" formControlName="purchasedItem" id="purchasedItem" value="">
        <label class="custom-control-label" for="purchasedItem">Purchased Item<span class="required">*</span></label>
      </div>
    </div>
    
  </div>
  

  <div class="mgn-top-50 mgn-bt-20 s-b d-flex">
    <button type="button" class="btn btn-primary c-p" [routerLink]="['/']"><i class="bi bi-arrow-left-short"></i>  Back </button>
    <button type="button" class="btn btn-success c-p" (click)="save()" >{{itemCode != null ? 'Update  ' : 'Register  '}} 
      <i class="{{itemCode != null ? 'bi bi-arrow-clockwise' : 'bi bi-upload'}}"></i>
    </button>
  </div>
 
</form>
